* {
	font-family: sans-serif;
	font-size: 20px;
}

fieldset {
	border: 1px solid #000;
	border-radius: 10px;
	max-width: 400px;
}

h3 {
	margin: 5px;
}

label {
	display: block;
	padding: 5px;
}

input.data,
textarea {
	margin-top: 5px;
	border: 1px solid #000;
	border-radius: 8px;
	width: 300px;
	max-height: 200px;
}

[placeholder],
button {
	padding: 10px;
}

textarea {
	display: block;
	resize: vertical;
}

.data {
	display: block;
	max-width: 400px;
}

.accept,
.button {
	cursor: pointer;
}

button {
	border: none;
	border-radius: 10px;
}
